.container{
    text-align: center;
    margin-top: 40px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    border: 5px solid black;
    font-size:35px
}
button{
    border-radius: 20px;
    font-size: 23px;
    background-color: rgb(223, 227, 233);
    width:102px;
    height: 58px;
}
.calculator{
    background-color:rgb(241, 66, 66);
    padding:20px ;
    border-radius: 23px;
    border: 2px salmon;
    display: inline-block;
}
body{
    background-color: rgb(238, 173, 238);
}
.all-clear :hover{
    background-color: orchid;
}
